$width: 1140px;

$primary-color: #2754a7;
$error: #ff0000;
$success: #13c132;
$primary-color-dark: #1d4287;
$text-color: #333333;
$action-color: #ff8200;
$action-color-hover: #0096aa;
$action-text-color: #fff;
$second-color: #f5f5f5;
$text-light: #f5f5f5;
$base-white: #ffffff;

$font: 'Lato', sans-serif;
